h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
h2{
    text-align: center;
    font-size: 20px;
}
h3{
    text-align: center;
    font-size: 20px;
}
.alert{
    font-size: 18px;
    color: white;
    background-color: green;
    margin: auto;
    width: 500px;
    text-align: center;
}

.viruscontainer{
    background-image: url(./images/uganda-flag-part.png);
    background-size: 40px 40px;
    background-color: aliceblue;
    margin-left: 300px;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    /* border: 1px solid  rgb(163, 163, 163); */
}
.resize{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 50px;
    
}
small{
    color: red;
}

.testingform{
    background-color: white;  
    width: 600px;
    /* height: 400px; */
    padding: 20px;
    text-align: left;
    border: 1px solid  rgb(163, 163, 163);
}
.test1{
    float: left;
    width: 50%;

}
.test2{
    float: right;
    width: 50%;

}
.test3{
    margin-top: 200px;
}
hr{
  margin-bottom: 0px;
  margin-top: 0px;
}
.testfemale{
    margin-left: 250px;
}
.registrationform{
    margin-top:0px;
    width: 90%;
    padding: 8px; 
}
select {
    width: 90%;
    border: 1px solid rgb(163, 163, 163);
    padding: 9.5px;
    color: grey;
}
.btn{
    border: none;
    width: 400px;
    margin-left: 100px;
    margin-top: 20px;
}